/* App.css */

.background3 {
    background-image: url('./background3.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
     /* จัดชิดขวา */
     align-items: flex-start;   /* จัดชิดด้านบน */
     padding-top: 30px;         /* ระยะห่างจากด้านบน */
     padding-right: 100px;       /* ระยะห่างจากด้านขวา */
     padding-bottom: 20px;      /* ระยะห่างจากด้านล่าง */
     padding-left: 40px;        /* ระยะห่างจากด้านซ้าย */
  }